.landing-page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.card-shadow {
	width: 400px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	background: rgba(255, 255, 255, 0.9);
	backdrop-filter: blur(10px);
}
